body  {
	background-color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #3a3a3a;
}

#box_1 {
	height: 200px;
}

#branding {
	float: left;
    margin-left: 20;
    margin-top: 20;
}

#last_update {
	font-size: 12px;
	font-style: italic;
	color: gray;
	margin: 0 20px;
}

.content_box {
    margin: 20px;
    line-height: 2.25;
    font-size: 16px;
    font-weight: 300;
}


#privacy_policy p {
	font-size: 14px;
}


/*contact.html*/

#contact_main_message {
	font-size: 14px;
	font-style: italic;
	color: gray;
}

#email_categories {
	list-style: none;
}

#email_categories li {
	margin: 10px 0;
	background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #d0d0d0;
    width: 500px;
}

.email_category {
	font-size: 15px;
	font-weight: 400;
	margin-right: 10px;
}

.email {
    font-family: courier;
    font-size: 13px;	
}

/*about.html*/
.content_box.about {
    width: 700px;	
}

.content_box.about a, .content_box.about a:visited, .content_box.about a:hover {
	color: gray;
	font-size: 16px;
	font-style: italic;
}

#snappe_features_list {
	font-size: 15px;
    font-style: italic;
}

/*fboauth.html*/
.fb_login_box {
	background-color: #efefef;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 20px;
	broder: 1px solid #e4e4e4;
}

.fb_login_box p {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.request_info {
	margin: 20px 0;
}

.request_info img {
	margin: 0 10px;
	border: 5px solid #cecece;
}