#body {
	margin-top: 40px;
}

.left_float {
	flot: left;
}

.right_float {
	float: right;
}

#box_1 {
	height: 645px;
}

#branding_container {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
	margin-bottom: 30px;
}

#branding ul {
	list-style: none;
	position: relative;
	left: 50%;
	margin-left: 0;
	padding-left: 0;
}

#branding li {
	float: left;
	position: relative;
	margin-left: 0;
	padding-left: 0;
	text-align: center;
}

#app_name {
	margin: 0 20px;
}

#app_name a, #app_name a:visited, #app_name a:hover {
	text-decoration: none;
	color: white;
}


#app_store_link {
	vertical-align: middle;
	margin: 0 20px;
}

#gallery_super_container {
	margin-left: auto;
	margin-right: auto;
	max-width: 812px;
}

#gallery_container {
	width: auto;
	margin: 0 auto;
	height: auto;
	background: white;
	padding: 6px;
}

#gallery {
	margin-left: auto;
    margin-right: auto;
    height: 400px;
}

#album_loading_status {
	text-align: center;
	font-size: 13px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20%;
	color: gray;
}

#album_info {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    display:none;
}

.album_button {
	width: 246px;
    height: 66px;
    background-image: url('/static/images/download_button_sprite.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 5px;
}

.album_button:active {
    background-position: 0px -68px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.album_button.disabled {
    background-position: 0px -134px;
	background-repeat: no-repeat;
	cursor: default;
}

#album_download_button {
    background-image: url('/static/images/download_button_sprite.png');
}

#album_upload_select_button {
    background-image: url('/static/images/upload_button_sprite.png');
}

#album_name {
	font-family: Kaushan, Helvetica, 'Sans Serif';
}

#album_info i {
	color: grey;
	margin-right: 8px;
	margin-left: 8px;
}

/*=================UPLOAD CSS=================*/

#upload_view {
	height: 100%;
}

#preview_scroll_container {
	overflow: scroll;
	padding: 0px 20px 0 20px;
}

.photo {
    position: relative;
}

.img_attach_point_container {
    overflow: hidden;
    width: 240px;
    height: 180px;
}

.img_attach_point {
    background-color: #fff;
}

.img_attach_point img {
    max-width: 240px;
    height: auto;
    display: block;
    margin: auto;
}

.image_box {
    width: 240px;
    height: 180px;
    padding: 10px 10px 35px 10px;
    background-color: white;
    vertical-align: middle;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid : DXImageTransform.Microsoft.Shadow ( Strength = 4, Direction = 135, Color = '#000000' );
}

#preview_grid {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-position: outside;/*IE*/
} 

#preview_grid .photo {
    float: left;
    margin: 20px;
}

.progress_bar_overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.15);
	position: relative;
	top: -100%;
	left: 0;
}
.progress_bar {
	width: 60%;
	background-color: #f7f7f7;
	background-image: none !important;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	top: 40%;
	left: 20%;
}

.progress_bar div {
   background-color: #BDC9E1;
   width: 60%; /* Adjust with JavaScript */
   height: 25px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   -khtml-border-radius: 2px;
   border-radius: 2px;
}

.upload_result {
	float: left;
	margin-left: 10px;
	position: absolute;
	bottom: 10px;
}

.upload_final_status_icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.upload_success_status_icon {
	background-image: url('/static/images/green_check_mark.png');
}

.upload_failure_status_icon {
    background-image: url('/static/images/error_icon.png');
}

.upload_final_status_text {
	font-size: 10px;
}

.remove_photo_button {
	width: 36px;
	height: 36px;
	position: absolute;
	top: -18px;
	right: -18px;
	z-index: 2;
}

.remove_photo_button img {
	border: 0;
	display: inline;
	width: 36px;
    height: 36px;
}

.fileupload {
	width: 100%;
	height: 100%;
}

/*
.fancybox-inner {
	overflow: hidden !important;
}
*/

#preview_scroll_parent {
	position: absolute;
	top: 0;
	bottom: 70px;
	overflow: scroll;
}

#preview_action_container {
	width: 100%;
	background-color: #fafafa;
	position: absolute;
	height: 70px;
	bottom: 0;
}

#preview_action_container ul {
	list-style: none;
}

#album_action_buttons {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

#album_buttons_container {
    list-style: none;
    position: relative;
    left: 50%;
    margin-left: 0;
    padding-left: 0;
}

#album_buttons_container li {
    float: left;
    position: relative;
    margin-left: 0;
    padding-left: 0;
}

#album_add_photo_button {
    padding: 10px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #7AA37A;
}

.plus_char {
    font-size: 28px;
    color: #fff;
    line-height: 10px;
    vertical-align: middle;
}

.up_arrow_char {
    font-size: 18px;
    color: #fff;
    line-height: 10px;
    padding-bottom: 5px;
}

.button_text {
    font-size: 13px;
    color: #fff;
}

#album_upload_button {
	padding: 10px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(86, 159, 231);
    cursor: pointer;
}

.upload_cancel_button {
	margin-top: 12px;
} 

#upload_cancel_button {
    vertical-align: middle;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
}

#album_sharing_ongoing_icon {
	background-image: url('/static/images/loading.gif');
	width: 72px;
	height: 72px;
	display: none;
}

.alert_box {
	max-width: 300px;
	min-width: 100px;
	max-height: 80;
	overflow: hidden;
	font-size: 13px;
}

.alert_box .alert_button_section {
	position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 30px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(86, 159, 231);
    font-weight: bold;
    cursor: pointer;
}

.clearfix {
	clear:both;
}

.left_float: {
	float: left;
}

.right_float {
	float: right;
}

/* 
 * File Upload button styling from
 * https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload-ui.css
 */
.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}
