@font-face {
    font-family: Kaushan;
    src: url('/static/fonts/KaushanScript-Regular.otf');
}

@font-face {
    font-family: Kaushan;
    font-weight: bold;
    src: url('/static/fonts/KaushanScript-Regular.otf');
}

@font-face {
    font-family: GreatVibes;
    src: url('/static/fonts/GreatVibes-Regular.otf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
    font-family: 'fifawelcome';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/fifawelcome1.3.ttf')
}

body,html {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Raleway','Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
    background-color: #e8e8e8;
}

.clearfix {
    clear:both;
}

#box_1 {
    background-image: url('/static/images/bg.jpg');
    background-repeat: repeat;
    padding: 10px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}


#text_description {
    width: 500px;
    margin-left: 550px;
    margin-top: 100px;
    text-align: center;
}

#app_banner {
    margin: 0 0 60px 0;
}

#app_icon {
    width: 84px;
    height: 84px;
    vertical-align: middle;
    margin: 0 30px 0 0;      
}

#app_name {
    color: white;
    font-family: 'fifawelcome';
    font-weight: bold;
    font-size: 4.25em;
}

#text_description #title_text {
    color: white;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 2.5em;
    display: block;
}

#app_store_link {
    display: inline-block;
    *display: inline;
    width: 268px;
    height: 95px;
    background-image: url('/static/images/app-store-button-blue.png');
    background-repeat: no-repeat;
    margin: 20px 5px 20px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#box_2 {
    height: 300px;
    border-top: 1px solid #cecece;
}

#feature_list {
    list-style: none;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 550px;
    width: 600px;
}

.feature_list_feature {
    height: 120px;
}

.feature_list_icon {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.feature_list_desc {
    list-style: none;
    display: inline-table;
    *display:inline;
    margin-left: -30px;
    margin-top: -15px;
    vertical-align: middle;
}

.feature_list_desc_title {
    color: #5a5a5a;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 1.5em;
}

.feature_list_desc_desc {
    font-size: 13px;
    color: #8a8a8a;
    width: 150px;
}

#logo_app_name {
    font-family: GreatVibes, Kaushan, sans-serif, arial;
    font-size: 55px;
    color: white;
}

#logo_app_slogan {
    font-family: Kaushan, sans-serif, arial;
    font-size: 14px;
    color: #cecece;
    vertical-align: sub;
}

#snappe_icon {
    width: 72px;
    height: 72px;
    vertical-align: top;
}

#intro_slider {
    position: absolute;
    top: 40px;
    left: 15%;
}

#iphone_frame {
    height: 650px;
}

#left_column {
    float: left;
    width: 450px;
}

#right_column {
    float: left;
}

#intro {
    color: #000;
    font-size: 12px;
    background-color: #fafafa;
    width: 400px;
    padding: 20px;
    margin: 30px 10px;
}

#intro_title {
    font-family: Kaushan, sans-serif, arial;
    font-size: 18px;
    color: #4b4b4b;
    text-rendering: optimizelegibility;
    line-height: 1.45;
}

#iphone_slideshow_root {
    background-color: #fff;
    position: absolute;
    width: 256px;
    height: 455px;
    top: 92px;
    left: 30px;
}

#iphone_slideshow_root > img {
    width: 100%;
    height: 100%;
    display: none;
}

/*http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/*/
.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter:
        "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid : DXImageTransform.Microsoft.Shadow ( Strength = 4,
        Direction = 135, Color = '#000000' );
}

.alpha60 { 
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
        #99000000, endColorstr = #99000000 );
    /* For IE 8*/
    -ms-filter:
        "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.feature_list_feature.left {
    float:left;
    clear:left;
    margin-right: 70px;
}

.feature_list_feature.right {
    clear: right;
}

#box_3 {
    background-color: #f2f2f2;
    height: 440px;
    border-top: 1px solid #cecece;
}

#intro_video {
}

#intro_video iframe {
	display: block;
	margin: 30px auto;
}

#intro_video_description {
	text-align: center;
	width: 100%;
}

#intro_video_description span {
	font-family: Kaushan, Helvetica, 'Sans Serif';
	font-size: 20px;
	color: gray;
}

#footer {
    height: 60px;
    background-color: #2a2a2a;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    padding-right: 50px;
    
    font-family: 'Helvetica','Arial','sans-serif';
    font-size: 15px;
}

#footer ul {
    list-style: none;
}

#footer li {
    display: inline;
}

#footer a {
    text-decoration: none;
    color: #5a5a5a;
}

#footer img {
	border: 0;
}

#footer a:hover {
    color: #fff;
}

#footer_info {
    display: inline-table;
    *display: inline;
    float: right;
}

#footer_info a {
    margin-left: 10px;
    margin-right: 10px;
}

.mixpanel_badge {
	float:left;
} 

#social_links {
    float: left;
    display: inline-table;
    *display: inline;
    margin-top: -7px;
    margin-left: 35%;
}

#social_links img {
    width: 64px;
    height: 64px;
}

#copyright_notice {
    color: #aaaaaa;
    font-size: 11px;
    margin-left: 15px;
}