@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	max-width: 100%;
}

#intro_slider {
	left: 50%;
	margin-left: -155px;
	top: 370px;
}

#text_description {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bolder;
}

#app_banner {
	margin-bottom: 40px;
}

#appstore_logo {
	margin-left: 0px;
}

#text_description #title_text {
	font-size: 2em;
}

#box_1 {
	height: 800px;
}

#box_2 {
	padding-top: 240px;
	height: 540px;
	width: 100%;
	overflow-y: hidden;
}

#box_3 {
	width: 100%;
}

#intro_video iframe {
    width: 90%;
}

#feature_list {
	margin: 30px 0px 30px -10px;
	width: 100%;
}

.feature_list_feature.left {
	float: none; !important;
}

.feature_list_desc {
	margin-top: 0px;
}

#footer {
	text-align: center;
	width: 100%;
	padding-left: 0px;
}

#footer_info {
	float: none;
	display: block;
	clear: left;
	margin-left: -30px;
	font-size: 11px;
}

#social_links {
	width: 100%;
	margin-left: -20px;
}

#copyright_notice {
	display: block;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: -5px;
}



/*album download page*/
#branding ul {
    margin: 0;	
}

#branding li {
    width: 100%;	
}

.no_mobile_text {
    display: none;	
}

#gallery {
	height: 200px;
}

#album_loading_status {
	width: 80%;
}

#gallery_super_container {
	/*margin-left: -10px;*/
}

#album_buttons_container li {
	float: none;
	margin: 10px 0;
}

#preview_grid {
	padding: 0;
	margin: 0;
	list-style-position: outside;
}

#preview_grid .photo {
	margin: 8px;
}

.image_box {
	width: 90px;
    height: 60px;
    padding: 4px 4px 20px 4px;
}

.progress_bar {
}

.progress_bar div {
	height: 15px;
}

.img_attach_point_container {
    width: 90px;
    height: 60px;
}

.img_attach_point img {
    max-width: 90px;
}

#preview_scroll_parent {
	height: 77%;
}

#preview_scroll_container {
	padding: 15px;
}

.remove_photo_button {
    width: 22px;
    height: 22px;
    top: -11px;
    right: -11px;
}

.remove_photo_button img {
    width: 22px;
    height: 22px;
}

.upload_result {
	margin-left: 0;
	margin-top: 0;
	bottom: 1px;
}

#preview_action_container {
	margin-top: 0;
}

.mixpanel_badge {
	display: none;
}